database.db1.slonconf=/var/lib/postgresql/slony1-engine.github/clustertest/conf/slon.1.conf
database.db2.slonconf=/var/lib/postgresql/slony1-engine.github/clustertest/conf/slon.2.conf
database.db3.slonconf=/var/lib/postgresql/slony1-engine.github/clustertest/conf/slon.3.conf
database.db4.slonconf=/var/lib/postgresql/slony1-engine.github/clustertest/conf/slon.4.conf
database.db5.slonconf=/var/lib/postgresql/slony1-engine.github/clustertest/conf/slon.5.conf

database.db1.host=localhost
database.db1.dbname=test1
database.db1.port=5432
database.db1.user=test
database.db1.password=test
database.db1.pgsql.path=/usr/local/pgsql8.3/bin

database.db2.host=localhost
database.db2.dbname=test2
database.db2.port=5432
database.db2.user=test
database.db2.password=test
database.db2.pgsql.path=/usr/local/pgsql8.3/bin

database.db3.host=localhost
database.db3.dbname=test3
database.db3.port=5432
database.db3.user=test
database.db3.password=test
database.db3.pgsql.path=/usr/local/pgsql8.3/bin

database.db4.host=localhost
database.db4.dbname=test4
database.db4.port=5432
database.db4.user=test
database.db4.password=test
database.db4.pgsql.path=/usr/local/pgsql8.3/bin

database.db5.host=localhost
database.db5.dbname=test5
database.db5.port=5432
database.db5.user=test
database.db5.password=test
database.db5.pgsql.path=/usr/local/pgsql8.3/bin

database.db6.host=localhost
database.db6.dbname=test6
database.db6.port=5432
database.db6.user=test
database.db6.password=test
database.db6.pgsql.path=/usr/local/pgsql8.3/bin



##
# Users with superuser rights that slony will work with
#
##
database.db1.user.slony=slon
database.db1.password.slony=slon

database.db2.user.slony=slon
database.db2.password.slony=slon

database.db3.user.slony=slon
database.db3.password.slony=slon

database.db4.user.slony=slon
database.db4.password.slony=slon

database.db5.user.slony=slon
database.db5.password.slony=slon

database.db6.user.slony=slon
database.db6.password.slony=slon


slonik.path=/usr/local/pgsql8.3/bin/slonik
slon.path=/usr/local/pgsql8.3/bin/slon
### slon.loglevel=4
clustername=Disorder_Replica
slony_dump.path=/usr/local/pgsql8.3/bin/slony1_dump.sh

output.directory=results
log4j.conf=conf/log4j.properties
#client.server.port=1444
log_shipping.path=/usr/local/pgsql8.3/bin/slony_logshipper
